.footer-wrapper{
  border-top:1px solid #eee;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  display:flex;
  height:48px;
  padding:10px 0;
  z-index:100;
  background-color:white;
  box-sizing:border-box;
}
.router-link-active .icon-bussiness-man{
  color:#6ADBCF;
}
.router-link-active .icon-office{
  color:#6ADBCF;
}
.router-link-active .icon-code{
  color:#6ADBCF;
}
.router-link-active .icon-addressbook_fill{
  color:#6ADBCF;
}
.footer-wrapper i{
  color:rgba(7,17,27,0.7);
  font-size:20px;
  display:block;
  margin-bottom:3px;
}
.footer-wrapper a{
  flex:1;
  font-size:12px;
  height:28px;
  color:rgba(7,17,27,0.7);
}
